.events{
    height: 100vh;
    width: 100vw;
    background-color: rgb(240, 235, 235);
}
.events .ev-wrapper{
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 100%;
}
.events .ev-wrapper .ev-f-head{
  font-family: 'Axiforma', sans-serif;
  font-size: 6rem;
  position: absolute;
  top: 2rem;
  left: 12vw;
  z-index: 20;
  color: #b8b8b82c;
  font-weight: 700;
}
.events .ev-wrapper .ev-head{
  font-family: 'Axiforma', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  width: 50%;
  margin: 4rem 10rem;
  text-align: center;
  color: #474747;
  position: relative;
}
.events .ev-wrapper .ev-head::after{
  content: "";
  display: block;
  width: 20rem;
  height: 0.3rem;
  background: linear-gradient(to right, rgba(239, 239, 239, 0.877), grey);
  border-radius: 4px;
  margin: 1rem auto;
  position: absolute;
  top: 1rem;
  left: 34rem;
}