.crs-card-wrapper {
  height: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  /* flex-direction: row-reverse; */
}
.crs-card-image {
  height: 100%;
  /* width: 50%; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.crs-card-image img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  /* position: absolute; */
}
.crs-card-content {
  padding: 1rem 2rem;
  height: 100%;
  width: 40%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.crs-card-content .heading {
  color: rgba(255, 255, 255, 0.842);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crs-card-content .heading div {
  height: 10px;
  width: 10px;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: #ef6b62;
}
.crs-card-content .text p {
  color: rgba(255, 255, 255, 0.699);
  line-height: 2;
  padding: 0;
  margin-top: 0;
}
.crs-card-content .button {
  background-color: #fdd65b;
  color: #755a00;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border-radius: 13px;
  font-size: 0.9rem;
}
