.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 8vh;
  z-index: 100;
  padding: 4rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.897);
}

.logo {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.itm {
  transition: all 0.2s ease-in-out;
}
.itmS {
  color: #50a1ff;
}

.itm:hover {
  color: #50a1ff;
}

.navbar {
  width: 10rem;
}
@media screen and (max-width: 720px) {
  .header {
    padding: 2rem 0;
  }
  .logo {
    width: 4rem;
    height: 4rem;
  }
  .menu {
    width: 65%;
    margin: 0 0.5rem;
  }
  .navbar {
    width: 6rem;
  }
}
