.header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    z-index: 100;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.itm{
    transition: all 0.2s ease-in-out;
}
.itmS{
    color: #50a1ff;
}

.itm:hover{
    color: #50a1ff;
}

.navbar{
    width: 10rem;
}