@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/axiforma');

body {
  margin: 0;
  overflow-x: hidden  !important; 
  cursor: none;
  box-sizing: border-box;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
